<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Bem vindo, insira os dados para entrar!</h1>
    % if error:
        <p styles="color:red;">{{ error }}</p>
    % end
    <form method="post">
        <label>Usuário: </label>
        <input type="text" name="username" required> <br>
        <label>Senha:</label>
        <input type="password" name="password" required> <br>
        <input type="submit" value="Entrar">
    </form>
    <p>Deseja se <a href='/Register'> registrar?</a></p>
</body>
</html>
