<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo, insira os dados para entrar!</h1>
        
        % if error:
            <p class="error">{{ error }}</p>
        % end
        

        <form method="post" action="/{{ permission }}/Login">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required> 

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required> 

            <input type="submit" value="Entrar">
        </form>

        <p>Deseja se <a href='/{{ permission }}/Register'>registrar?</a></p>
    </div>
</body>
</html>
