<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento escolar</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="menu">
        <h2>Escolha uma das opções: </h2>
        <a href="/matricular">- Matricular</a><br>
        <a href="/remover">- Remover uma matrícula</a><br>
        <a href="/listar">- Listar matrículas</a><br>
        <a href="/logout">- Logout</a><br>
    </div>
</body>
</html>
